.head {
    background-image: url("../images/s1.jpg");
    background-size: cover;
    padding: 70px;
    text-align: center;
    margin: 0;
    font-size: 100px;
    font-style: italic;
    color:rgb(255, 255, 255);
    margin-bottom: 10px;
  }

  .main-img{

    margin-left: 300px;
    margin-top: 30px;
  }

  .det-card{
    width: 500px;
    height: 750px;
    margin: -500px 1000px 0;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  }

  .det-card .det-text{
    margin: 24px 30px;
    font-size: 20px;
  }

  .det-head{
    font-size: 30px;
    margin: 20px 20px;
  }

  .tag{
    border-radius: 15px;
    margin: 5px 5px 10px;
    background-color: rgb(206, 205, 205);
    color: black;
  }

  .det-book-but{
    color: white;
    font-size: 23px;
    background-color: rgb(0,161,31);
    border-radius: 30px;
    margin-left: 300px;
    padding: 15px 30px;
  }

  .det-book-box{
    margin-top: -100px;
  }
