body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

  .navbar {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    max-width: 1500px;
    margin: 0 auto;
    padding-top: 20px;
  }


.navbar-list {
  margin-left: -30px;
  list-style: none;
  display: flex;
}


.navbar-item a {
  margin-right: 20px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.navbar-item a:hover {
  color: #2ab431; 
}

.sea-but{
  color: white;
  background-color: rgb(0, 163, 0);
  margin-top: -10px;
  margin-right: 40px;
  border-radius: 24px;
  padding: 10px 20px;
}

.sign{
  background-color: #2ab431;
  padding: 8px;
  border-radius: 20px;
  margin-top: -12px;
}

.sign-txt{
  color: aliceblue;
  font-size: 20px;
}